<div class="main-button">
  <a href="#">
    <img src="./img/suitcase.svg" alt="" />
    <span>با دیوار، بگرد دنبال کار</span>
  </a>
</div>

<h1 class="main-title">دیوار تهران:‌ انواع آگهی‌ها و خدمات در تهران</h1>

<div class="main-grid-card">
  <div class="main-gird-posts">
    <div class="main-post">
      <a href="./post.html" class="post-link">
        <article>
          <div class="main-post-detail">
            <h2 class="main-post-title">آیفون ۱۴ پرومکس</h2>
            <div class="main-post-price">۱۰۰,۰۰۰,۰۰۰ تومان</div>
            <div class="main-post-time">لحظاتی پیش در ایران</div>
          </div>
          <div class="main-post-thumbnail">
            <img src="/home/img/iphone-14-pro-max-purple-1.jpg" alt="" />
          </div>
        </article>
      </a>
    </div>
  </div>
</div>
